* {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  body {
    background: #000;
  }
  
  /*头部导航样式*/
  .header {
    background: #ffff80;
    height: 60px;
    text-align: center;
  }
  
  .content {
    padding: 0 10px;
    text-align: center;
  }
  
  .panel-top {
    margin-top: 15px;
    display: flex;
  }
  
  .left1 {
    background: #015478;
    width: 450px;
    height: 450px;
    border-radius: 4px;
    padding: 15px 10px;
  }
  
  .right1 {
    position: relative;
    background: #015478;
    margin-left: 15px;
    border-radius: 4px;
    padding-top: 15px;
    flex-grow: 1;
  }
  
  .tableForm {
    margin-top: 10px;
    background: transparent;
    color: #fff;
    width: 98%;
    margin-left: 1%;
  }
  
  .plan-num {
    position: absolute;
    bottom: 5px;
    right: 50px;
  }
  
  .panel-bottom {
    margin-top: 15px;
    display: flex;
  }
  .progress-box {
    margin-top: 20px;
  }
  .progress-detail {
    margin-left: 20%;
    margin-top: 6  0px;
    font-weight: bold;
  }
  .box1 {
    width: 45%;
    float: left;
  }
  .box1 span {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #fff;
  }
  .status-1 {
    border-radius: 40%;
    background: #ffff80;
    display: inline-block;
    color: #2a2a2a !important;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .status-2 {
    border-radius: 40%;
    background: #aaaaaa;
    display: inline-block;
    color: #7f7f7f !important;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .status-3 {
    border-radius: 40%;
    background: red;
    display: inline-block;
    color: #ffff80 !important;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .status-4 {
    border-radius: 40%;
    background: #95f204;
    display: inline-block;
    color: #0000ff !important;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  /* 公共样式 */
  .common-text {
    color: #81d3f8;
  }
  
  .red-color-text {
    color: #e87f8d;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cell {
    text-align: center;
  }
  
  .el-table th,
  .el-table tr {
    background: transparent;
  }
  tr {
    pointer-events: none;
  }
  .el-progress__text {
    color: #fff;
    font-weight: bold;
  }