*{
    padding:0;
    margin:0;
}
@media all and (max-width:1400px) and (min-width: 600px)
{
body
{   width:100%;
    background: #f0f0f0;
}
#header
{   background: #222224;
	margin-bottom: 5px;
}
#header h5
{   color: #f0f0f0;
    padding:1.6% 2.3% 0.5% 1.2%;
    display: inline-block;
    font-size: 0.9em;
}
#header img 
{   padding:1.2% 1.2% 0.9% 0;
	float: right;
}
#seach-total
{   width: 100%;
}
.text-total
{   float: left;
	width: 82%;
}
.text-total .text
{   
    padding: 1.04% 0.6% 0.58% 0.8%;
	margin: 3% 0 0 88%;
	font-size: 0.9em;
	color: gray;

}
.seach
{   width: 17%;
    float: left;

   
}
.seach button
{ 
   margin: 13% 0 0 15%;	

}
@media all and (max-width:1200px) and (min-width: 1000px)
{
.text-total .text
{   
    padding: 1.04% 0.6% 0.58% 0.8%;
	margin: 3% 0 0 88%;
	font-size: 0.9em;
	color: gray;

}
.seach
{   width: 17%;
    float: left;

   
}
.seach button
{ 
   margin: 13% 0 0 24%;	

}
}
@media all and (max-width:1000px) and (min-width: 800px)
{
.text-total .text
{   
    padding: 1.04% 0.6% 0.58% 0.8%;
	margin: 3% 0 0 88%;
	font-size: 0.9em;
	color: gray;
}
.seach
{   width: 17%;
    float: left;  
}
.seach button
{   margin: 13% 0 0 40%;	
}
}
@media all and (max-width:800px) and (min-width: 600px)
{
.text-total .text
{   padding: 1.04% 0.6% 0.58% 0.8%;
	margin: 3% 0 0 88%;
	font-size: 0.9em;
	color: gray;
}
.seach
{   width: 17%;
    float: left; 
}
.seach button
{ 
   margin: 13% 0 0 64%;	
}
}
#total
{   width: 90%;
	margin: 0 6%;	
}
.number
{   width: 20%;
	background: white;
	float: left;
	margin:3.8% 0 0 3.2%;
	overflow: hidden;
	position: relative;	
}
.trangle
{   padding: 0 10% 40% 20%;
    width:30.27%;
    background: #11be91;
    float: left;
    -webkit-transform: skew(136deg) translate(-88%, 0%);
    -moz-transform: skew(136deg) translate(-88%, 0%);
    -o-transform: skew(136deg) translate(-88%, 0%);
    -ms-transform: skew(136deg) translate(-88%, 0%);
    transform: skew(136deg) translate(-88%, 0%);
    position: absolute;
} 
.trangle p 
{   font-size:1.2em;
	color: white;
	padding: 20% 0 0 38%;
	-webkit-transform:skew(44deg) translate(16%,0%);
	-moz-transform:skew(44deg) translate(16%,0%);
	-o-transform:skew(44deg) translate(16%,0%);
	-ms-transform:skew(44deg) translate(16%,0%);
	transform:skew(44deg) translate(16%,0%);
	font-weight: bold;
	position: relative;

}
.part li 
{   font-size: 3.5em;
	color:#3d3d3f;
	float: left;
	margin-top: 9%; 
	list-style-type: none;
	position: relative;
	padding-left: 34%;
}
.part li span 
{   font-size: 0.25em;
}
.part .cube  
{   width: 17%;
	background: #11be91;
	float: right;
	color: white;
	text-align: center;
	padding: 8.5% 0 20.4% 0;
	font-size: 1em;
	margin: 0.1% 0 0 85%;
	position: absolute;
}
}