<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width,initial-scale=1.0,chrome=1.0"/>
    <title>登录</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="css/angular-material.css"/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-aria.js"></script>
    <script src="js/angular-material.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-cloak>
<div layout="row" flex>
    <md-toolbar class="md-primary">
        <div layout="row" flex layout-align="start center" href="index.html">
            <a href="index.html">
                <img src="img/logo.png"/>
            </a>
        </div>
    </md-toolbar>
</div>
<div layout="row" flex layout-align="center center" style="margin-top:30px;">
    <md-whiteframe class="md-whiteframe-1dp" flex-xs="90" flex-gt-xs="33" layout layout-align="center center">
        <div layout="column" flex ng-controller="loginController">
            <div layout="column" flex layout-align="center center" style="background:#f5f5f5;">
                <h3 style="color:#333;font-size:24px;font-weight:200;">我的信箱</h3>
            </div>
            <form name="login_form" ng-submit="loginHu()" layout="column" flex style="padding:10px 10%;">
                <md-input-container>
                    <label for="">用户名</label>
                    <input type="text"
                           name="username"
                           ng-model="form_data.username"
                           required/>
                </md-input-container>
                <md-input-container>
                    <label for="">密码</label>
                    <input type="password"
                           name="password"
                           ng-model="form_data.password"
                           required/>
                </md-input-container>
                <div layout="column" flex>
                    <md-button type="submit" class="md-raised md-primary">登录</md-button>
                </div>
                <div layout="row">
                    <md-button class="md-primary" flex="50">注册</md-button>
                    <md-button class="md-primary" flex="50">忘记密码</md-button>
                </div>
            </form>
        </div>
    </md-whiteframe>
</div>
</body>
</html>