<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>专员信箱</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="css/angular-material.css"/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-aria.js"></script>
    <script src="js/angular-material.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div layout="row" flex>
    <md-toolbar class="md-primary" layout="row" flex>
        <div layout="row" flex layout-align="start center">
            <a href="index.html">
                <img src="img/logo.png"/>
            </a>
        </div>
        <div hide-xs layout="row" flex layout-align="end center">
            <md-button href="commissioner.html">待办事项</md-button>
            <md-button href="commissioner.html">未办结</md-button>
            <md-button href="commissioner.html">已办结</md-button>
            <md-button href="statistics.html">统计</md-button>
            <md-button href="#">修改密码</md-button>
            <md-button href="login.html">退出</md-button>
        </div>
        <md-menu hide-gt-xs layout="row" flex layout-align="end center" md-offset="0 54">
            <md-button ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="headline"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button href="commissioner.html">待办事项</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="commissioner.html">未办结</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="commissioner.html">已办结</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="statistics.html">统计</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="#">修改密码</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="login.html">退出</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
</div>

<!--中心内容区-->
<div class="md-padding md-margin" layout="row" layout-align="center center">
    <div flex="66" flex-xs="90">
        <div layout="column" flex style="min-height:450px;" class="md-whiteframe-1dp">
            <div layout="column" flex style="position:relative;min-height:250px;">
                <h3 style="text-align:center;" class="md-headline">主题:停电问题</h3>
                <md-divider style="width:80%;margin:0 auto;"></md-divider>
                <p style="margin:10px 10%;text-indent:2em;" class="md-subhead">最近宿舍中总是无故的停电，不知道是什么问题，请求解决一下</p>
                <div style="position:absolute;bottom:0;right:10px;"class="md-subhead">
                    <p>发件人：西瓜</p>
                    <p>时间：2017/03/18</p>
                </div>
            </div>
            <div layout="row" layout-align="center center" style="background:#eee;">
                <md-button flex="50" class="md-primary">上一封</md-button>
                <md-button flex="50" class="md-primary">下一封</md-button>
            </div>
        </div>
        <div layout="row" layout-align="end center" ng-controller="dialogController">
            <md-button class="md-raised md-primary" ng-click="Cdrely()" id="rejection">拒收</md-button>
            <md-menu md-offset="0 -200">
                <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">转发</md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button>办公室</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>保安部</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>教务处</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>后勤部</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>
<div class="footer" layout="row" layout-align="center center" flex style="text-align:center;margin:0 0 10px;">
    <p>Skight 版权所有 | 技术支持:Skight | 邮箱:<a style="color:#c13432;" href="http://supports@skight.com">supports@skight.com</a></p>
</div>
<script type="text/ng-template" id="CDreplyDialog.html">
    <md-dialog flex="50" flex-xs="80">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>拒收理由</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-margin md-padding">
            <div layout="column" flex layout-align="center center">
                <textarea rows="6" cols="90" placeholder="拒收理由少于1000字"></textarea>
            </div>
        </md-dialog-content>
        <md-divider style="width:80%;margin:0 auto;"></md-divider>
        <md-dialog-actions layout="row" flex layout="end center">
            <md-button class="md-primary md-raised" ng-click="cancel()">确认</md-button>
            <md-button class="md-primary md-raised" ng-click="cancel()">取消</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>
</body>
</html>